aiodns==3.2.0
aiohttp==3.9.4
aioresponses==0.7.6
aiosignal==1.3.1
alembic==1.14.0
alpaca-py==0.24.0
alpaca-trade-api==3.2.0
alpha-vantage==2.3.1
annotated-types==0.7.0
appdirs==1.4.4
APScheduler==3.10.4
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
Babel==2.15.0
backoff==2.2.1
bcrypt==4.1.3
beautifulsoup4==4.12.3
bidict==0.23.1
blinker==1.7.0
ccxt==4.1.78
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.1
cryptography==42.0.8
cycler==0.12.1
dataclasses-json==0.6.4
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
dnspython==2.6.1
duckdb==1.0.0
email_validator==2.1.1
exceptiongroup==1.2.1
exchange_calendars==4.5.4
executing==2.0.1
Flask==3.0.3
Flask-BabelEx==0.9.4
Flask-Bcrypt==1.0.1
Flask-Cors==4.0.1
Flask-Login==0.6.3
Flask-Mail==0.10.0
flask-marshmallow==1.2.1
Flask-Migrate==4.0.7
Flask-Principal==0.4.0
Flask-Security==3.0.0
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
fonttools==4.51.0
frozendict==2.4.4
frozenlist==1.4.1
gunicorn==23.0.0
h11==0.14.0
html5lib==1.1
ibapi==9.81.1.post1
idna==3.7
imbalanced-learn==0.12.4
inference-sdk==0.9.20
inflection==0.5.1
iniconfig==2.0.0
ipython==8.25.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.3
joblib==1.4.2
jsonpickle==3.2.1
kiwisolver==1.4.5
korean-lunar-calendar==0.3.1
lumibot==2.9.13
lumiwealth-tradier==0.1.7
lxml==5.2.2
Mako==1.3.6
MarkupSafe==2.1.5
marshmallow==3.21.1
marshmallow-sqlalchemy==1.0.0
matplotlib==3.8.4
matplotlib-inline==0.1.7
more-itertools==10.3.0
msgpack==1.0.3
multidict==6.0.5
multitasking==0.0.11
mypy-extensions==1.0.0
numpy==1.26.4
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
packaging==24.0
pandas==2.0.3
pandas-datareader==0.10.0
pandas_market_calendars==4.4.0
parso==0.8.4
passlib==1.7.4
peewee==3.17.5
pexpect==4.9.0
pi==0.1.2
pillow==10.3.0
platformdirs==4.2.2
plotly==5.22.0
pluggy==1.5.0
polygon-api-client==1.13.7
prompt_toolkit==3.0.47
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==16.1.0
pycares==4.4.0
pycparser==2.22
pydantic==2.7.4
pydantic_core==2.18.4
Pygments==2.18.0
PyJWT==2.10.1
pyluach==2.2.0
PyMuPDF==1.24.7
PyMuPDFb==1.24.6
pyparsing==3.1.2
pytest==8.2.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.9.1
python-socketio==5.11.2
pytz==2024.1
PyYAML==6.0.1
Quandl==3.7.0
QuantStats==0.0.62
quantstats-lumi==0.3.0
requests==2.31.0
scikit-learn==1.5.2
scipy==1.10.1
seaborn==0.13.2
simple-websocket==1.0.0
six==1.16.0
soupsieve==2.5
speaklater==1.3
SQLAlchemy==2.0.29
sseclient-py==1.8.0
stack-data==0.6.3
supervision==0.19.0
ta==0.11.0
tabulate==0.9.0
tenacity==8.3.0
termcolor==2.4.0
threadpoolctl==3.5.0
tomli==2.0.1
toolz==0.12.1
torch==1.13.1
tqdm==4.66.4
traitlets==5.14.3
typing-inspect==0.9.0
typing_extensions==4.11.0
tzdata==2024.1
tzlocal==5.2
urllib3==1.26.18
uuid==1.30
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==10.4
Werkzeug==3.0.2
wsproto==1.2.0
WTForms==3.1.2
xgboost==2.1.1
yarl==1.9.4
yf==0.0.4
yfinance==0.2.44
